/* Write your CSS here */
.login-button {
  font-family: 'Roboto';
  font-size: 15px;
  color: #303150;
  border: none;
  border-radius: 15px;
  background-color: #f8fafc;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 35px;
  padding-left: 35px;
}
